*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.buttons  {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
        
}

button {
    padding: 30px;
    font-size: larger;
    border-radius: 3%;
    
}


button:hover{
    background-color: rgb(176, 173, 173);
    transition: 1s;
}

.clear{
    background-color: rgb(180, 19, 19);
    color: white;
}

.equal {
    background-color: rgb(18, 82, 150);
    color: white;

}

.clear:hover{
    transform: scale(1.1);
    background-color: rgb(180, 19, 19);
}

.equal:hover{
    transform: scale(1.1);
    background-color: rgb(18, 82, 150);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(34, 105, 203), rgba(255,0,0,1));
    
}

img {
    position: absolute;
    left: 0;
    bottom: 0;
}


    


input{
    padding: 15px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    
    
}

.calculator {
    z-index: 10;
}

@media only screen and (max-width: 750px) {    
    img{
        width: 35%;
    }
}
@media only screen and (max-width: 550px) {   
    .calculator {
        scale: 0.95;
        
    } 
    img{
        width: 30%;
    }
}
@media only screen and (max-width: 400px) {  
    .calculator {
        scale: 0.9;
        
    }  
    img{
        width: 20%;
    }
}
@media only screen and (max-width: 300px) {
    .calculator {
        scale: 0.8;
        
    }
    img{
        display: none;
    }
}

@media only screen and (max-width: 250px) {
    .calculator {
        scale: 0.70;
        
    }
}